# Seguridad: Credenciales y Llaves (CRÍTICO)
.env
src/.env
*.pem
*.csv
*credentials*
credenciales_iam_aws.txt

# Imágenes pesadas de Docker (Evita errores de límite de 100MB)
*.tar
img_dockerhub/

# Python y Sistema
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# Docker logs
*.log
