services:
  iagen_db:
    image: postgres:15
    container_name: chatbot_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chatbot_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
      start_period: 10s
      timeout: 5s

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"

  backend:
    build:
      context: ./backend/app
      dockerfile: Dockerfile
    container_name: chatbot_api
    env_file:
      - ./../.env
    ports:
      - "5000:5000"
    depends_on:
      iagen_db:
        condition: service_healthy

volumes:
  pgdata:
